[submodule "bitbake"]
	path = bitbake
	url = git://git.doredevelopment.dk/oe-lite/bitbake.git
[submodule "meta/core"]
	path = meta/core
	url = git://git.doredevelopment.dk/oe-lite/core.git
[submodule "meta/base"]
	path = meta/base
	url = git://git.doredevelopment.dk/oe-lite/base.git
[submodule "meta/xorg"]
	path = meta/xorg
	url = git://git.doredevelopment.dk/oe-lite/xorg.git
